$bgcolor:#1f1f2d;
$hfont: "Adobe Heiti Std R";
$hborder: 3px solid white;
$fontcolor:white;
$height: 165px;
$width1: 1100px;
$width2: 60%;
$bborder: 10px solid #50507c;
@mixin border-radius($radius) {-webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius; }
@mixin box($a,$b,$c, $d, $e){background-color: $a;
		width: $b;
		   float:$c;
		    font-family: $d;
				padding: $e; }
@mixin margin($f){
	margin-left:$f;
	margin-right: $f; }
body{
  width: 100%;
  background-color: $bgcolor;
  .page{
    width: $width1;
	@include margin(auto);
    margin-top: 20px;
    border:none;}
	  .header{
	  font-family: $hfont;
	  text-align: center;
	@include margin(auto);
	background-color: $bgcolor;
	  color: white;
	  height: $height;
	  width: 100%; }
	.name{
		  border:$hborder;
		  width: $width2;
		  padding: 15px;
		  @include margin(auto);
		  font-size: 28px;
		  @include border-radius(5px);}
		.bottom{
		  margin-top: -20px;
		  font-size: 12px;}
		.container{
		  .tag{
  		      background-color: white;
  		      text-align: center;
  		      font-size: 25px; }
		  .content1{
		    @include box(#e0e0eb,500px/1100px * 100%, left, $hfont, 20px); }
			  .content2{
			@include box(#e0e0eb,500px/1100px * 100%, left, $hfont, 20px);	}
		}
}