body {
  width: 100%;
  background-color: #1f1f2d;
}
body .page {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
}
body .header {
  font-family: "Adobe Heiti Std R";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #1f1f2d;
  color: white;
  height: 165px;
  width: 100%;
}
body .name {
  border: 3px solid white;
  width: 60%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
body .bottom {
  margin-top: -20px;
  font-size: 12px;
}
body .container .tag {
  background-color: white;
  text-align: center;
  font-size: 25px;
}
body .container .content1 {
  background-color: #e0e0eb;
  width: 45.45455%;
  float: left;
  font-family: "Adobe Heiti Std R";
  padding: 20px;
}
body .container .content2 {
  background-color: #e0e0eb;
  width: 45.45455%;
  float: left;
  font-family: "Adobe Heiti Std R";
  padding: 20px;
}
